@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Seymour+One&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    /* background-image: url('../assets/bgtext.png'); */
    /*  opacity: 80%; */
    /* overflow: scroll; */
}

/* typography
========================================================== */
.cont {
    position: relative;
}

.bg {
    /* box-sizing: border-box;
    width:100%;
    padding-top: 2.25rem;
    height: 100vh;
    overflow-y: scroll;
    position: absolute;
    overflow: scroll; */
    /* background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='15px' width='70px'><text x='0' y='15' fill='black' fill-opacity='0.2' font-family='Courier' font-size='10'>Lorem Ipsum </text></svg>"); */
    /* z-index: -1; */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:100%;
    color: rgba(0, 0, 0, 0.15);
    font-size: 0.75rem;
    font-family: 'Courier New', Courier, monospace;
    bottom: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
}

/* headers
========================================================== */
.header {
    display: flex;
    background-color: rgba(245, 223, 77, 0.8);
    text-align: center;
    justify-content: center;
    font-family: 'Seymour One', sans-serif;
    align-items: center;
    font-size: 2rem;
    color: black;
    height: 7rem;
    
}

.sub-header {
    background-color: rgba(190, 190, 190, 0.8);
    opacity: 80%;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    color:black;
    height: 7rem;
    padding: 0.25em;
    /* margin-top: 1.5em; */
}

.sub-heading {
    display: inline-block;
    vertical-align: middle;
    /* height: 7rem; */
}

.author-tag {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2.5em;
}


/* Sticky note
========================================================== */
h2,p{
    font-size:100%;
}
ul,li{
    list-style:none;
}
ul{
    padding:3em;
    display: flex;
    flex-direction: column;
    width: 39rem;
}
li a{
    text-decoration:none;
    color:#000;
}
ul li{
    margin:1em;
    padding: 2em;
    float:left;
}

/* Some positioning and ratios */
/* .sticky-container {
    max-width: 600px;
    position: relative;
  }
  
  .sticky-outer {
    display: flex;
    padding-top: 92.5925926%;
    position: relative;
  
    width: 100%;
  }
  
  .sticky {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  } */
  
  /* Shadow behind the sticky note */
  /* .sticky:before {
    box-shadow: -2px 2px 15px 0 rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.25);
    content: '';
    width: 90%;
    left: 5px;
    height: 75%;
    position: absolute;
    top: 30%;
  } */
  
  /* The sticky note itself */
  /* .sticky-content {
    
    width: 100%;
    height: 100%;

    padding: 1em;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier'; 
    font-size: 1rem;
  
    clip-path: url(#stickyClip);
  }

  .sticky-content-inner {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow-y: scroll;
      padding-top: 2em;
      height: 100%;
  }*/

  .note-text {
      font-size: 2.25rem;
      line-height: 2.75rem;
      font-weight: 400;
  } 

  .note-info {
      /* background-color: white; */
      font-weight: 500;
      line-height: 2rem;
  }
  .info-highlight {
      background: white;
      padding: 1em;
  }


  .blue {
    background: rgba(130, 193, 244, 1)
  }

  .green {
    background: rgba(169, 255, 156, 1)
  }

  .yellow {
    background: rgba(255, 242, 125, 1)
  }

  .pink {
    background: rgba(255, 170, 254, 1)
  }

  .orange {
    background: rgba(255, 195, 91, 1)
  }

  .purple {
    background: rgba(200, 167, 255, 1)
  }
   
  
  /* Position the sticky nicely, so it looks better */
  
   .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /*.container-inner {
    width: 50%;
    margin: 25px;
  } */
  
  /* Add responsiveness */
  /* @media screen and (min-width: 640px) {
    .sticky-content {
      font-size: 1rem;
    }
    .container-inner {
      width: 50%;
    }
  }
  
  @media screen and (min-width: 768px) {
    .sticky-content {
      font-size: 1rem;
    }
    .container-inner {
      width: 50%;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .sticky-content {
      font-size: 1.15rem;
    }
    .container-inner {
      width: 27%;
    }
  } */